%h2 Recent Posts
%ul
  - posts.each do |post|
    %li
      %span.date= post[:created_at].strftime('%Y-%m-%d')
      %a.title{:href => "#{options[:url]}/#{post[:filename][:generated]}", :title => post[:title]}= post[:title]
