%h2 Tag Cloud
%ol.tag-cloud
  - tags.each do |tag|
    %li{:class => tag[:size]}
      %span= "#{tag[:count]} posts are tagged with "
      %a{:rel => 'tag', :href => "#{options[:url]}/tags/#{tag[:name]}", :title => tag[:name]}= tag[:name]
