%h2= feed_title
%ul
  - if tweets.length == 0
    %li
      %p No tweets found.
  - else
    - tweets.each do |tweet|
      %li
        %span.date= Date.parse(tweet[:created_at]).strftime('%Y-%m-%d')
        %span= WhoNeedsWP::parse_tweet tweet[:text]
